
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

/*
While this receiver doesn't have any text, it's important to know that
Chromecast defaults to a black background with black text.  Changing that will
help your efforts.
We find that having everything fit in the HTML boxes tends to look nicer on TV
so, we also set overflow: hidden, which clips all flowing outside of boxes or
adding of scrollbars, which aren't useful on TV.
*/


/* Chess Piece color: #ffaaaa */ 

html {
	/* 
	Seperate background images: 
	First: Checkered board, divided into 64 cell images 
	Second: Board stand, coordinates, and piece graveyards
	*/
	background: 
		url('assets/png/ui/board-only.png') no-repeat center center fixed, url('assets/png/ui/stand-only.png') no-repeat center center fixed; 
	-webkit-background-size: 50%, cover;
	-moz-background-size: 50%, cover;
	-o-background-size: 50%, cover;
	background-size: 50%, cover;
	background-position: 50% 20%, center center;

	background-color: #53599a;
}
body {
	font-family: "Droid Serif", serif;
    color: #444;
    line-height: 150%;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

table {
	/*width: 35%;*/
	float: inherit;
	border-collapse: collapse;
	/*margin: auto;*/
}
td {
	padding: 1.5px;
}

.black-table {
	table-layout: fixed;
	margin-top: 5%;
	margin-left: 29.25%;
}
.white-table {
	table-layout: fixed;
	margin-top: 21.45%;
	margin-left: 29.25%;
}

.black, .white {
	height: 34%;
}

.row-black-pawn {

}
.row-black-back {

}

.row-white-pawn {

}
.row-white-back {

}
